<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      <div class="container">

        <!-- The start of our XP window -->
        <div class="window">
          <div class="title-bar">
            <div class="title-bar-text">{{ site.title }}</div>
            <div class="title-bar-controls">
              <button aria-label="Minimize"></button>
              <button aria-label="Maximize"></button>
              <button aria-label="Close"></button>
            </div>
          </div>

        <!-- The body of our XP window -->
        <div class="window-body">
          {% include header.html %}

          <!-- Content wrapped in tab panel -->
          <article role="tabpanel">
            <div class="wrapper">
              {{ content }}
            </div>
          </article>

        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
